[submodule "bundle/nerdcommenter"]
	path = pack/all/start/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/vim-surround"]
	path = pack/all/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/vim-repeat"]
	path = pack/all/start/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "bundle/vim-slime"]
	path = bundle/vim-slime
	url = https://github.com/jpalardy/vim-slime.git
[submodule "bundle/badwolf"]
	path = pack/all/opt/badwolf
	url = https://github.com/sjl/badwolf.git
[submodule "bundle/ctrlp"]
	path = pack/all/start/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/rainbow_parentheses"]
	path = pack/all/start/rainbow_parentheses
	url = https://github.com/kien/rainbow_parentheses.vim.git
[submodule "bundle/vim-jsx"]
	path = bundle/vim-jsx
	url = https://github.com/mxw/vim-jsx.git
[submodule "bundle/vim-go"]
	path = bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "bundle/vim-airline"]
	path = pack/all/opt/vim-airline
	url = git@github.com:vim-airline/vim-airline.git
[submodule "bundle/vim-better-whitespace"]
	path = pack/all/start/vim-better-whitespace
	url = https://github.com/ntpeters/vim-better-whitespace.git
[submodule "bundle/vim-gitgutter"]
	path = pack/all/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "bundle/vim-airline-themes"]
	path = pack/all/opt/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "bundle/vim-fireplace"]
	path = bundle/vim-fireplace
	url = git@github.com:tpope/vim-fireplace.git
[submodule "bundle/vim-sexp"]
	path = pack/all/start/vim-sexp
	url = git@github.com:guns/vim-sexp.git
[submodule "bundle/vim-sexp-mappings-for-regular-people"]
	path = pack/all/start/vim-sexp-mappings-for-regular-people
	url = git@github.com:tpope/vim-sexp-mappings-for-regular-people.git
[submodule "bundle/base16-vim"]
	path = pack/all/opt/base16-vim
	url = https://github.com/chriskempson/base16-vim.git
[submodule "bundle/typescript-vim"]
	path = bundle/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "bundle/ale"]
	path = pack/all/start/ale
	url = https://github.com/w0rp/ale
[submodule "bundle/vim-sleuth"]
	path = pack/all/start/vim-sleuth
	url = https://github.com/tpope/vim-sleuth
[submodule "bundle/vim-terraform"]
	path = pack/all/start/vim-terraform
	url = https://github.com/hashivim/vim-terraform
