[submodule "bundle/nerdcommenter"]
	path = pack/all/start/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/vim-surround"]
	path = pack/all/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/vim-repeat"]
	path = pack/all/start/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "bundle/badwolf"]
	path = pack/all/opt/badwolf
	url = https://github.com/sjl/badwolf.git
[submodule "bundle/ctrlp"]
	path = pack/all/start/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "bundle/rainbow_parentheses"]
	path = pack/all/start/rainbow_parentheses
	url = https://github.com/kien/rainbow_parentheses.vim.git
[submodule "bundle/vim-airline"]
	path = pack/all/opt/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "bundle/vim-better-whitespace"]
	path = pack/all/start/vim-better-whitespace
	url = https://github.com/ntpeters/vim-better-whitespace.git
[submodule "bundle/vim-gitgutter"]
	path = pack/all/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "bundle/vim-airline-themes"]
	path = pack/all/opt/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "bundle/vim-sexp"]
	path = pack/all/start/vim-sexp
	url = https://github.com/guns/vim-sexp.git
[submodule "bundle/vim-sexp-mappings-for-regular-people"]
	path = pack/all/start/vim-sexp-mappings-for-regular-people
	url = https://github.com/tpope/vim-sexp-mappings-for-regular-people.git
[submodule "bundle/typescript-vim"]
	path = pack/all/start/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "bundle/ale"]
	path = pack/all/start/ale
	url = https://github.com/w0rp/ale
[submodule "bundle/vim-sleuth"]
	path = pack/all/start/vim-sleuth
	url = https://github.com/tpope/vim-sleuth
[submodule "bundle/vim-terraform"]
	path = pack/all/start/vim-terraform
	url = https://github.com/hashivim/vim-terraform
[submodule "pack/all/start/editorconfig-vim"]
	path = pack/all/start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim
[submodule "pack/all/start/swift.vim"]
	path = pack/all/start/swift.vim
	url = https://github.com/keith/swift.vim
[submodule "pack/all/start/vim-tmux-navigator"]
	path = pack/all/start/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule "pack/all/start/vim-easy-align"]
	path = pack/all/opt/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align.git
[submodule "pack/all/start/tslime.vim"]
	path = pack/all/start/tslime.vim
	url = https://github.com/jgdavey/tslime.vim
[submodule "pack/all/start/seiya.vim"]
	path = pack/all/start/seiya.vim
	url = https://github.com/alloy-d/seiya.vim.git
[submodule "pack/all/start/vlime"]
	path = pack/all/start/vlime
	url = https://github.com/vlime/vlime
[submodule "pack/all/start/taskpaper.vim"]
	path = pack/all/start/taskpaper.vim
	url = https://github.com/davidoc/taskpaper.vim.git
[submodule "pack/all/start/vim-ripgrep"]
	path = pack/all/start/vim-ripgrep
	url = https://github.com/jremmen/vim-ripgrep.git
[submodule "pack/all/start/vim-fish"]
	path = pack/all/start/vim-fish
	url = https://github.com/blankname/vim-fish.git
[submodule "pack/all/opt/coc"]
	path = pack/all/opt/coc
	url = https://github.com/neoclide/coc.nvim
[submodule "pack/all/start/vim-jsonc"]
	path = pack/all/start/vim-jsonc
	url = https://github.com/kevinoid/vim-jsonc.git
[submodule "pack/all/opt/Colorizer"]
	path = pack/all/opt/Colorizer
	url = https://github.com/chrisbra/Colorizer.git
[submodule "pack/all/start/vim-startify"]
	path = pack/all/start/vim-startify
	url = https://github.com/mhinz/vim-startify.git
[submodule "pack/all/start/fennel.vim"]
	path = pack/all/start/fennel.vim
	url = https://github.com/bakpakin/fennel.vim
[submodule "pack/all/start/aniseed"]
	path = pack/all/start/aniseed
	url = https://github.com/Olical/aniseed
