[submodule "bundle/vim-surround"]
	path = pack/all/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/vim-repeat"]
	path = pack/all/start/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "bundle/vim-gitgutter"]
	path = pack/all/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "bundle/vim-sexp"]
	path = pack/all/start/vim-sexp
	url = https://github.com/guns/vim-sexp.git
[submodule "bundle/vim-sexp-mappings-for-regular-people"]
	path = pack/all/start/vim-sexp-mappings-for-regular-people
	url = https://github.com/tpope/vim-sexp-mappings-for-regular-people.git
[submodule "pack/all/start/seiya.vim"]
	path = pack/all/start/seiya.vim
	url = https://github.com/alloy-d/seiya.vim.git
[submodule "pack/all/start/fennel.vim"]
	path = pack/all/start/fennel.vim
	url = https://github.com/bakpakin/fennel.vim
[submodule "pack/all/start/conjure"]
	path = pack/all/start/conjure
	url = https://github.com/Olical/conjure
[submodule "pack/all/start/nvim-treesitter"]
	path = pack/all/start/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter.git
[submodule "pack/all/start/vim-commentary"]
	path = pack/all/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "pack/all/opt/nvim-lspconfig"]
	path = pack/all/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig
[submodule "pack/all/opt/plenary.nvim"]
	path = pack/all/start/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim
[submodule "pack/all/start/nfnl"]
	path = pack/all/start/nfnl
	url = https://github.com/Olical/nfnl
[submodule "pack/all/start/telescope.nvim"]
	path = pack/all/start/telescope.nvim
	url = https://github.com/nvim-telescope/telescope.nvim
[submodule "pack/all/start/mason"]
	path = pack/all/start/mason
	url = https://github.com/williamboman/mason.nvim
[submodule "pack/all/start/mason-lspconfig.nvim"]
	path = pack/all/start/mason-lspconfig.nvim
	url = https://github.com/williamboman/mason-lspconfig.nvim.git
[submodule "pack/all/start/formatter.nvim"]
	path = pack/all/start/formatter.nvim
	url = https://github.com/mhartington/formatter.nvim.git
[submodule "pack/all/start/nvim-lint"]
	path = pack/all/start/nvim-lint
	url = https://github.com/mfussenegger/nvim-lint.git
[submodule "pack/all/start/rainbow-delimiters.nvim"]
	path = pack/all/start/rainbow-delimiters.nvim
	url = https://github.com/HiPhish/rainbow-delimiters.nvim.git
[submodule "pack/all/start/xcodebuild.nvim"]
	path = pack/all/start/xcodebuild.nvim
	url = https://github.com/wojciech-kulik/xcodebuild.nvim
[submodule "pack/all/opt/nui.nvim"]
	path = pack/all/start/nui.nvim
	url = https://github.com/MunifTanjim/nui.nvim.git
[submodule "pack/all/opt/snacks.nvim"]
	path = pack/all/start/snacks.nvim
	url = https://github.com/folke/snacks.nvim
[submodule "pack/all/start/nvim-dap"]
	path = pack/all/start/nvim-dap
	url = https://github.com/mfussenegger/nvim-dap
[submodule "pack/all/start/oil.nvim"]
	path = pack/all/start/oil.nvim
	url = https://github.com/stevearc/oil.nvim
